.navbar {
    display: flex;
    justify-content:space-between;
    align-items:center ;
    border-bottom: 1px solid #ddd;
   /* background-color: yellowgreen; */
  }
  .profile-dropdown {
    position: absolute;  
    left: 77%;         
    top: 14%;          
    border: 1px solid black;
    background-color: white;
}

#homelink {
  display: flex;
  align-items: center;
}

#imglink {
  width: 40px; 
  height: auto;
  margin-right: 8px;
}

#homelink a {
  display: flex;
  align-items: center; 
  text-decoration: none; 
}


  
  
  