.updatespot{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
   }

.errormesg{
    color: salmon;
    display: flex;
    font-size: 13px;
}
#test{
    display: flex;  
    gap: 8px;
    margin-bottom: -15px;
    margin-top: -15px;
    font-size: 14px;
}